<div class="flex justify-between text-lg p-4 border-b-black border-b-2 gap-6 items-center pr-10">
  <div class="flex gap-2 p-2">
    <div><%= form.label :flight_id, "Select"%></div>   
    <div><%= form.radio_button :flight_id, flight.id %></div>
  </div>
  <div>
    <div>Flight:</div>
    <%= "##{flight.id}" %>
  </div>
  <div>
    <div>Departing at:</div>
    <%= flight.departure_time_formatted %>
  </div>
  <div>
    <div>Arriving at:</div>
    <%= flight.arrival_time_formatted %>
  </div>
  <div>
    <div>Flight Duration:</div>
    <%= "#{flight.flight_duration} hours" %>
  </div>
</div>