<div class="flex flex-col items-center gap-6 w-full">
  <div class="flex flex-col border-2 border-black border-solid rounded-2xl bg-olive shadow mt-12">
    <div class="text-xl text-white bg-purple p-4 rounded-2xl rounded-b-none border-b-dark border-b">Your Booking</div>
      <%= form_with model: @booking, method: :post do |form| %>
        <div class="flex flex-col items-center gap-5 px-6 py-3">
          <%= form.hidden_field :flight_id, value: @booking.flight_id %>
          <%= render partial: "details", locals: { booking: @booking }%>
          <%= form.fields_for :passengers do |passenger_form| %>
            <div class="flex flex-col gap-3">
              <div class="flex gap-2">
                <div><%= passenger_form.label :name, "Name" %>
                <%= passenger_form.text_field :name %></div>
                <div><%= passenger_form.label :email, "Email" %>
                <%= passenger_form.email_field :email %></div>
              </div>
            <% end %>
          <div class="btn self-end"><%= form.submit %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>