<div class="flex flex-col items-center gap-6 w-full">
  <div class="bg-red-300 w-screen text-center p-2">
    <% if @booking.errors.any? %>
      <% @booking.passengers.each do |passenger| %>
        <% passenger.errors.full_messages.each do |message| %>
          <h3>Passenger's <%= message.downcase %></h3>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="flex flex-col border-2 border-black border-solid rounded-2xl bg-olive shadow mt-12">
    <div class="text-xl text-white bg-purple p-4 rounded-2xl rounded-b-none border-b-dark border-b">Your Booking</div>
      <%= form_with model: @booking, method: :post do |form| %>
        <div class="flex flex-col items-center gap-5 px-6 py-3">
          <%= form.hidden_field :flight_id, value: @booking.flight_id %>
          <div>Flight #<%= @booking.flight_id %></div>
          <div>Departure Date: <%= @booking.flight.departure_date_formatted %></div>
          <div>
            Departing from <%= @booking.flight.origin.code %> at <%= @booking.flight.departure_time_formatted %>
          </div>
          <div>
            Arriving at <%= @booking.flight.destination.code %> at <%= @booking.flight.arrival_time_formatted %>
          </div>
          <%= form.fields_for :passengers do |passenger_form| %>
            <div>
              <%= passenger_form.label :name, "Name" %>
              <%= passenger_form.text_field :name %>
              <%= passenger_form.label :email, "Email" %>
              <%= passenger_form.email_field :email %>
              <%= passenger_form.hidden_field :flight_id, value: @booking.flight_id %>
            </div>
          <% end %>
          <div class="btn self-end"><%= form.submit %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>